@import "colors"
@import "fonts"

body
 background-color: $body
 margin: 0
 padding: 0
p
 margin: 0
 padding: 0
.line
 background-color: $detail
 height: 10px
.container
 margin: 0 20%
.top-nav
 margin-top: 40px
.logo
 display: flex
 div
  text-transform: uppercase
  color: $detail
  font-family: "SamoSansPro"
  font-size: 39px
.menu
 display: flex
 list-style: none
 li
  margin-right: 70px
 a
  text-decoration: none
  font-family: "SegoeUI"
  font-size: 19px
  color: $text
  i
   margin-right: 10px
.slider
 margin-top: 30px
 button
  background-color: $detail
@mixin light_text
 color: $light_text
 text-align: center
.slider-item
 background: url(../img/layer.png) no-repeat
 background-size: 100%
 &-title
  @include light_text
  font-family: "StRydeRegular", sans-serif
  font-size: 117px
  margin-top: 15%
 &-description
  @include light_text
  font-family: "SofiaProLight"
  font-size: 31px
  margin-bottom: 15%
.description
 margin: 40px 5% 0 5%
 font-family: ﻿SegoeUI-Italic, ﻿SegoeUI-BoldItalic, ﻿AdobeInvisFont, ﻿MyriadPro-Regular
 font-size: 23px
 color: $text
 text-align: center
 font-style: italic
 font-weight: 500
 span
  color: $detail
.item
 margin: 40px 0 50px 0
 &-img
  margin-left: 5%
 &-description
  height: 100%
 h3
  font-family: ﻿SegoeUI-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular
  font-size: 31px
  color: $text
  text-align: left
  margin: 5px 0 20px 0
 p
  font-family: ﻿SegoeUI, ﻿AdobeInvisFont, ﻿MyriadPro-Regular
  font-size: 17px
  color: lighten($text, 30%)
  text-align: left
  line-height: 2
.readmore
 font-style: italic
 color: lighten($text, 30%)
 font-family: ﻿SegoeUI-Italic, ﻿AdobeInvisFont, ﻿MyriadPro-Regular
 font-size: 15px
 text-align: right
.feature
 margin-bottom: 50px
 &-text
  padding: 0
  font-family: ﻿SegoeUI, ﻿SegoeUI-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular
  font-size: 21px
  color: $text
  span
   font-weight: 700
 &-line
  height: 3px
  background-color: lighten($text, 50%)